<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="welcome_section">
      <div class="box box-marron box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">
            <i class="fa fa-paint-brush"></i> Design</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-right">
              <dx-button type="danger" text="Back" hint="Back to Colorsheet List" (onClick)="onBackClick($event)"></dx-button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <dx-tile-view height="100%" class="design-pic" [dataSource]="categoriesList" [baseItemHeight]="263" [baseItemWidth]="350"
              width="100%" [direction]="'vertical'" (onItemClick)="onImageClick($event)">
              <div *dxTemplate="let category of 'item'">
                <div *ngIf="category.FileAccessUrl;then catImageContent else noImageContent"></div>
                <ng-template #catImageContent>
                  <img fixBrokenImage class="image" [src]="category.FileAccessUrl">
                </ng-template>
                <ng-template #noImageContent>
                  <img fixBrokenImage class="image" src="assets/img/NoImage.jpg">
                </ng-template>
                <div class="sectionName">{{ category.SectionName}}</div>
              </div>
            </dx-tile-view>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>

  </div>
</div>