<div class="box">
    <div class="box-header with-border">
        <img fixBrokenImage src="assets/img/bar.png">
        <h3 class="box-title"> Announcement</h3>
        <div class="box-tools pull-right">
            <i class="fa fa-envelope"></i>
        </div>
    </div>

    <div class="box-body">
        <div class="checklist">
            <div class="listinfo">
                <dx-scroll-view class="psh-dashboard-box-height">
                    <ul>

                        <li *ngFor="let item of AnnoucementModelList | slice:0:2; let i=index">
                            <a routerLink="/messages">
                                <div class="list_title">{{item.Subject}}</div>
                            </a>
                            <div class="list_description">{{item.FromUser}}</div>
                            <div class="list_description">{{item.CreatedDate}}</div>

                        </li>

                        <li *ngIf="AnnoucementModelList.length==0">

                            <div class="list_description no-data-skin">No Announcements to show.</div>

                        </li>

                    </ul>
                </dx-scroll-view>
            </div>
            <div class="row">
                <div class="pull-right" *ngIf="AnnoucementModelList.length > 2">
                    <a routerLink="/messages/0" class="btn btn-marron btn-md" title="View All"> View All </a>
                </div>
            </div>

        </div>
    </div>

</div>