/* .no-data-skin{
    text-align: center;
     font-weight: bold;
     position: absolute;
     top: 50%;
     width: 100%; 
     color: #999999;
     font-size: 17px;    
    } */

.btn-marron {
    margin-right: 25px;
}