<div class="login-page">
  <div class="container" id="psh-loginbox">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="psh-login-logo center-image">
        <img fixBrokenImage src="assets/img/logo.png" class="img-responsive">
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Forgot Password
            <div class="pull-right">
              <button title="Back to login" (click)="onBackToLoginClick()" class="btn btn-default btn-xs">Back to Login</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div id="login-alert" class="alert alert-danger col-sm-12 dis"></div>
          <form id="forgotPasswordForm" name="forgotPasswordForm" (ngSubmit)="f.form.valid && forgotPassword()" #f="ngForm" novalidate
            class="form-horizontal" role="form">
            <div class="input-group mb25">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input id="Email" title="Email" [(ngModel)]="model.Email" #Email="ngModel" required type="text" class="form-control" name="Email"
                value="" placeholder="Email">
            </div>
            <p *ngIf="f.submitted && !Email.valid" class="alert alert-danger paragraph paragraph--small u-color-red u-shadow-text u-letter-spacing-small">
              Email Address is required
            </p>
            <div class="form-group mt10">
              <div class="col-sm-12 controls">
                <button title="Submit" class="btn btn-marron btn-md">Submit</button>
              </div>
            </div>
            <p *ngIf="error" class="alert alert-danger paragraph paragraph--small u-color-red u-shadow-text u-letter-spacing-small u-margin-bottom-med u-align-inline-center">
              {{ error }}
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>