<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="welcome_section">
                <div class="box box-marron box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-envelope"></i> Schedule
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="message">
                            <div class="tabbable-panel margin-tops4">
                                <div class="tabbable-line custom-red-tab">
                                
                                 <dx-tab-panel>
                                        <dxi-item title="Schedule" icon="fa fa-building-o" [template]="'ScheduleTemplate'">
                                        </dxi-item>
                                        <div *dxTemplate="let item of 'ScheduleTemplate'" class="tabpanel-item margin-tops">
                                             <app-schedules></app-schedules> 
                                        </div>
                                        <dxi-item title="Milestone" icon="fa fa-envelope-o" [template]="'MilestoneTemplate'">
                                        </dxi-item>
                                        <div *dxTemplate="let item of 'MilestoneTemplate'" class="tabpanel-item margin-tops">
                                           <app-milestone></app-milestone> 
                                        </div>
                                    </dx-tab-panel> 
    
                                    
                                    <!-- <ul class="nav nav-tabs tabtop  tabsetting">
                                        <li class="text-center active">
                                            <a href="#tab_default_1" data-toggle="tab" aria-expanded="true">
                                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                <br> Schedule
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="#tab_default_2" data-toggle="tab" aria-expanded="false">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <br> Milestone
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content margin-tops">
                                        <div class="tab-pane fade active in" id="tab_default_1">
                                           
                                            <app-schedules></app-schedules> 
                                            
                                        </div>
                                        <div class="tab-pane fade" id="tab_default_2">
                                            <app-milestone></app-milestone> 
                                          
                                        </div>
                                    </div> -->
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    