<div class="login-page">
  <div class="container" id="psh-loginbox">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="psh-login-logo center-image">
        <img fixBrokenImage src="assets/img/logo.png" class="img-responsive">
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Reset Password
          </div>
        </div>
        <div class="panel-body">
          <form id="resetPasswordForm" name="resetPasswordForm" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate
            class="form-horizontal" role="form">
            <div class="input-group mb10">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input id="password" title="Password" validateEqual="confirmPassword" type="password" class="form-control" name="password"
                reverse="true" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
            </div>
            <p *ngIf="f.submitted && !password.valid" class="alert alert-danger paragraph paragraph--small u-color-red u-shadow-text u-letter-spacing-small">
              Password is required
            </p>
            <div class="input-group mb10">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input type="password" title="Confirm Password" class="form-control" name='confirmPassword' [(ngModel)]="model.confirmPassword"
                placeholder="Confirm Password" validateEqual="password" #confirmPassword="ngModel" reverse="false" required
              />
            </div>
            <p *ngIf="f.submitted && !confirmPassword.valid" class="alert alert-danger paragraph paragraph--small u-color-red u-shadow-text u-letter-spacing-small">
              Password mismatch
            </p>
            <div class="form-group mt10">
              <div class="col-sm-12 controls">
                <button title="Submit" class="btn btn-marron btn-md">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>