<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12">
            <div class="span7">
                <div class="widget stacked widget-table action-table">
                    <div class="widget-content">
                        <dx-data-grid [rowAlternationEnabled]="true" [columnHidingEnabled]="true" showBorders="true" showRowLines="true" showColumnLines="true"
                            id="gridContainer" [wordWrapEnabled]="true" [dataSource]="AnnoucementModelList">
                            <dxo-filter-row visible="true" [applyFilter]="{key:'auto',name:'Immediately'}"></dxo-filter-row>
                            <dxo-header-filter visible="true"></dxo-header-filter>
                            <!-- <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                            </dxo-pager> -->
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                            <dxi-column dataField="FromUser" class="cls"></dxi-column>
                            <dxi-column dataField="CreatedDate" title="Date"></dxi-column>
                            <dxi-column dataField="Subject"></dxi-column>
                            <dxi-column dataField="Status"></dxi-column>
                            <dxi-column dataField="Action" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <dx-button icon="fa fa-eye" hint="Announcement View" (onClick)="showInfo(data)">
                                </dx-button>
                            </div>
                        </dx-data-grid>
                    </div>
                    <!-- /widget-content -->
                </div>
                <!-- /widget -->

            </div>
        </div>
    </div>
</div>
<dx-popup (onTitleRendered)="onShown($event)" class="popup" [showTitle]="true" title="Conversations" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="panel panel-defaulttest panel-info">
                        <div class="panel-body">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left-0">
                                <strong>From: </strong>
                                <b class="blackcolor">{{AnnoucementModel.FromUser}}</b>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left-0">
                                <strong>Subject: </strong>
                                <b class="blackcolor">{{AnnoucementModel.Subject}}</b>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-left-0">
                                <strong>Date: </strong>
                                <b class="blackcolor">{{AnnoucementModel.CreatedDate}}</b>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-left-0">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="span7">
                        <div class="widget stacked widget-table action-table">
                            <div class="widget-content">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <dx-data-grid [rowAlternationEnabled]="true" [columnHidingEnabled]="true" showBorders="true" showRowLines="true" showColumnLines="true"
                                        id="gridContainer" [wordWrapEnabled]="true" [dataSource]="MessageList">
                                        <dxo-filter-row visible="true" [applyFilter]="{key:'auto',name:'Immediately'}"></dxo-filter-row>
                                        <dxo-header-filter visible="true"></dxo-header-filter>
                                        <!-- <dxo-paging [pageSize]="5"></dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                                        </dxo-pager> -->
                                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                                        <dxi-column dataField="FromUser" caption="Message By"></dxi-column>
                                        <dxi-column dataField="Comment" caption="Message"></dxi-column>
                                        <dxi-column dataField="CreatedDate" caption="Message On"></dxi-column>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <button title="Cancel" type="button" class="btn btn-default" (click)="ClosePopup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>